* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.affiliates {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.affiliates td, .affiliates th {
    border: 1px solid #ddd;
    padding: 8px;
}

.affiliates tr:nth-child(even){
    background-color: #f2f2f2;
}

.affiliates tr:hover {
    background-color: #ddd;
}

.affiliates th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.error > .text-center {
    padding-top: 100px;
    text-align: center;
}

.error > .footer {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 0;
}

