@import '~bootstrap';

.header {
    padding: 30px;
    text-align: center;
    background: white;

    h1 {
        font-size: 50px;
    }
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}
